= render "modules/navbar"
.contents
  .container-fluid
    .UserEdit
      = form_for(@user) do |f|
        .UserEdit__header
          .UserEdit__header__title
            ユーザー情報
        .UserEdit__main
          .UserEdit__main__image
            - if @image.present?
              = f.file_field :image, class: 'img_field', style: 'display:none;'
              = image_tag @image.url, onClick: "$('.img_field').click()", class: 'center-block img-thumbnail img-responsive img_prev',width: "100%"
            - else
              = f.file_field :image, class: 'img_field', style: 'display:none;'
              = image_tag "image_preview.gif", onClick: "$('.img_field').click()", class: 'center-block img-thumbnail img-responsive img_prev',width: "100%"
          .UserEdit__main__form
            = f.label :nickname, class: "UserEdit__main__form__label"
            = f.text_field :nickname, autofocus: true, placeholder: "名前", class: "UserEdit__main__form__field"
          
          .UserEdit__main__form
            = f.label :email, class: "UserEdit__main__form__label"
            = f.text_field :email, autofocus: true, placeholder: "メール", class: "UserEdit__main__form__field"

          .UserEdit__main__form
            = f.label :introduction, class: "UserEdit__main__form__label"
            = f.text_area :introduction, autofocus: true, placeholder: "◯◯文字まで", class: "UserEdit__main__form__field"
        .UserEdit__foot
          = f.submit class: "UserEdit__foot__btn"
