.row
  .col-md-3
    =render 'modules/sidebar'
  .col-md-9
    - @mybooks.each do |book|
      .Mybook
        .Mybook__left
          .Mybook__left__image
            = link_to room_path(book.room.id) do
              - if book.room.room_images.length > 0
                =image_tag book.room.room_images[0].image.url, class: "Mybook__left__image__one"
              - else
                =image_tag "no-image.png", class: "Mybook__left__image__one"
          
          .Mybook__left__main
            .Mybook__left__main__date
              .Mybook__left__main__date__checkin
                = book.start_date.strftime("%Y/%m/%d")
              %span ~
              .Mybook__left__main__date__checkout
                = book.end_date.strftime("%Y/%m/%d")
            = link_to room_path(book.room.id) do
              .Mybook__left__main__title
                =book.room.name
            .Mybook__left__main__user
              .Mybook__left__main__user__title
                ホスト:
              .Mybook__left__main__user__image
                - if book.room.user.image
                  = image_tag book.room.user.image.url, class: "avatar_small"
                - else
                  = image_tag "no-image.png", class: "avatar_small"
              = link_to user_path(book.room.user.id), class: "Mybook__left__main__user__nickname" do
                = book.room.user.nickname
        .Mybook__right
          = link_to "#", class: "Mybook__right__edit" do
            確認
          .Mybook__right__review
            = render 'reviews/guest_review_form'