.list-group
  
  = link_to root_path, class: "list-group-item list-group-item-action" do
    マイページトップ
  = link_to '#', class: "list-group-item list-group-item-action" do
    写真を買う
  = link_to '#', class: "list-group-item list-group-item-action" do
    旅に出る
  = link_to '#', class: "list-group-item list-group-item-action" do
    友達リスト
  = link_to '#', class: "list-group-item list-group-item-action" do
    お気に入りフォト
  = link_to '#', class: "list-group-item list-group-item-action" do
    設定