= render "modules/navbar"

.SearchPage
  .SearchPage__left
    .SearchPage__left__head
      %a.SearchModal__btn{href: ""} 絞り込む
    .SearchModal.js-modal
      .SearchModal__background.SearchModal__close
      .SearchModal__content

        .Search__contents
          
          = search_form_for @search, url: search_path do |f|
            .Search__contents__head
              絞り込む
            .SearchField__price
              .SearchField__price__title
                料金
              .SearchField__price__form
                = f.text_field :price_gteq, class: "SearchField__price__form__min form-control"
                %span
                  〜
                = f.text_field :price_lteq, class: "SearchField__price__form__max form-control"

            .SearchField__date
              .SearchField__date__title
                日付
              .SearchField__date__form
                = text_field_tag :start_date, params[:start_date], readonly: true, placeholder: "チェックイン", class: "SearchField__date__form__checkin form-control", id: "search_checkin"
                %span
                  ⇨
                = text_field_tag :end_date, params[:end_date], readonly: true,  placeholder: "チェックアウト", class: "SearchField__date__form__checkout form-control", id: "search_checkout"

            
            .SearchField__room-type
              .SearchField__room-type__title
                お部屋タイプ
              .SearchField__room-type__form
                .SearchField__room-type__form__one
                  = check_box_tag "q[room_type_eq_any][]", "個室"
                  %p 個室
                .SearchField__room-type__form__one
                  = check_box_tag "q[room_type_eq_any][]", "シェアルーム"
                  %p シェアルーム
                .SearchField__room-type__form__one
                  = check_box_tag "q[room_type_eq_any][]", "貸し切り"
                  %p 貸し切り

            .SearchField__info
              .SearchField__member
                .SearchField__member__title
                  宿泊人数  
                .SearchField__member__form
                  = f.select :member_gteq, [["1名", 1], ["2名", 2], ["3名", 3], ["4名以上", 4]], include_blank: "選択して下さい", class: "SearchField__member__form__input"

              .SearchField__bed
                .SearchField__bed__title
                  ベッド数
                .SearchField__bed__form
                  = f.select :bed_gteq, [["1つ", 1], ["2つ", 2], ["3つ", 3], ["4つ以上", 4]], include_blank: "選択して下さい", class: "SearchField__bed__form__input"
              
              .SearchField__bath
                .SearchField__bath__title
                  シャワー数
                .SearchField__bath__form
                  = f.select :bath_gteq, [["1つ", 1], ["2つ", 2], ["3つ", 3], ["4つ以上", 4]], include_blank: "選択して下さい", class: "SearchField__bath__form__input"

            = check_box_tag "q[is_tv_eq]", true
            %p TV

            = check_box_tag "q[is_kitchen_eq]", true
            %p キッチン

            = check_box_tag "q[is_wifi_eq]", true
            %p Wifi

            = check_box_tag "q[is_heater_eq]", true
            %p 暖房

            = check_box_tag "q[is_air_eq]", true
            %p エアコン

            = f.submit "検索"


        %a.SearchModal__close{href: ""} 閉じる 

    = render 'search_results', rooms: @arrRooms
    
  .SearchPage__right
  
    #map{ data: { turbolinks: false } }

:javascript
  $(function(){
    $('.SearchModal__btn').on('click',function(){
        $('.js-modal').fadeIn();
        return false;
    });
    $('.SearchModal__close').on('click',function(){
        $('.js-modal').fadeOut();
        return false;
    });
  });

  function initMap(){
    let geocoder = new google.maps.Geocoder()

    let location = {lat: 35.2738, lng: 137.007}
    
    if("#{@arrRooms}".length > 10) {
      location = {lat: #{@arrRooms[0].latitude}, lng: #{@arrRooms[0].longitude}}
    }

    map = new google.maps.Map(document.getElementById('map'), {
      center: location,
      zoom: 11
    });


    
    array.forEach(function(room) {
      let marker = new google.maps.Marker({
        position: {lat: room.latitude, lng: room.longitude},
        map: map
      });

      var infoWindow = new google.maps.InfoWindow({
          content: '<div>ここです</div>'
        });

      infoWindow.open(map, marker);
    });
  }
  google.maps.event.addDomListener(window, 'load', initMap)
    