.Top
  .RoomSearch
    = form_tag  method: :get do

      #carendar-position
        = text_field_tag :search, params[:search], placeholder: "どこへ行きますか・", class: "form-control"


        = text_field_tag :start_date, params[:start_date], placeholder: "宿泊開始日", class: 'datetimepicker-input', id: "start_date", data: {toggle: "datetimepicker", target: "#start_date"}
        = text_field_tag :end_date, params[:end_date], placeholder: "宿泊開始日", class: 'datetimepicker-input', id: "end_date", data: {toggle: "datetimepicker", target: "#end_date"}
          
        = submit_tag "保存"

  