= form_for([@room, @room.books.new]) do |f|
  .MyRoom__book__title
    予約フォーム
  .MyRoom__book__form
    = f.text_field :start_date, placeholder: "宿泊開始日", class: 'BookForm datetimepicker-input', :"data-target" => "#datetimepicker7", :"data-toggle" => "datetimepicker", id: "datetimepicker7"
    %span →
    = f.text_field :end_date, placeholder: "宿泊終了日", class: 'BookForm datetimepicker-input', :"data-target" => "#datetimepicker8", :"data-toggle" => "datetimepicker", id: "datetimepicker8"

  .MyRoom__book__price
    .MyRoom__book__price__one
      .MyRoom__book__price__price__right
        料金
      .MyRoom__book__price__price__left
        = "¥#{@room.price}"
    .MyRoom__book__price__one
      .MyRoom__book__price__dates__right
        泊数
      .MyRoom__book__price__dates__left
        2泊
    .MyRoom__book__price__one
      .MyRoom__book__price__total__right
        合計金額
      .MyRoom__book__price__total__left
        ￥20000
  
  .MyRoom__book__btn
    = f.submit "予約する", class: "BookBtn"
      

:javascript

  
  
  $(function(){

    var disableDates = [];

    $.ajax({
      url: '/rooms/#{@room.id}/pickup',
      dateType: 'json'
    })
    .done(function(data) { 
      $.each(data, function(arrID, arrValue) {
        for(var date = new Date(arrValue.start_date);
                date <= new Date(arrValue.end_date);
                date.setDate(date.getDate() + 1)) {
        disableDates.push(new Date(date))
        }
      });
      console.log(disableDates)
      
      $('#datetimepicker7').datetimepicker({
        beforeShowDate: function(date) {
                        dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
                        return [$.inArray(dmy, disableDates) == -1];
                      },
        format: 'L'
      });
      $('#datetimepicker8').datetimepicker({
        format: 'L',
        useCurrent: false
      });

      $("#datetimepicker7").on("change.datetimepicker", function (e) {
        $('#datetimepicker8').datetimepicker('minDate', e.date);
      });
      $("#datetimepicker8").on("change.datetimepicker", function (e) {
          $('#datetimepicker7').datetimepicker('maxDate', e.date);
      });
    })
  })