.MyRoom__info__reviews__head
  .MyRoom__info__reviews__head__title
    口コミ
  .MyRoom__info__reviews__head__num
    - if @guest_reviews.count != 0
      = "#{@guest_reviews.count}件の口コミ"
    - else
      .no-review 口コミはありません
.row
  .MyRoom__info__reviews__main
    - @guest_reviews.each do |review|
      
      .col-md-4.Review
        .Review__head
          .Review__head__left
            - if review.guest.image.url
              = image_tag review.guest.image.url, class: "avatar_medium"
            - else
              = image_tag 'no-image.png', class: "avatar_medium"
          .Review__head__right
            .Review__head__right--name
              = review.guest.nickname
            .Review__head__right--like{id: "star-rate-#{review.id}"}
              :javascript
                $('#star-rate-#{review.id}').raty({
                  
                  starOff:  "#{asset_path('star-off.png')}",
                  starOn : "#{asset_path('star-on.png')}",
                  starHalf: "#{asset_path('star-half.png')}",
                  readOnly: true,
                  score: "#{review.like}",
                });
        .Review__title
          = "『#{review.title}』"
        .Review__comment
          = review.comment
        .Review__date
          = review.created_at.strftime("%Y/%m/%d %H:%M:%S")

