.list-group
  
  = link_to info_room_path, class: "list-group-item list-group-item-action" do
    基本情報
  = link_to facility_room_path, class: "list-group-item list-group-item-action" do
    設備、アメニティ
  = link_to image_post_room_path, class: "list-group-item list-group-item-action" do
    写真

  - add_full = !@room.active && !@room.home_type.blank? && !@room.room_type.blank? && !@room.member.blank? && !@room.price.blank? && !@room.bed.blank? && !@room.bath.blank? && !@room.name.blank? && !@room.introduction.blank? && !@room.location.blank? 

  = form_with(model: @room, local: true) do |f|
    = f.hidden_field :active, value: true
    = f.submit "保存", id: "publish_button", class: "btn btn-block", disabled: !add_full

  