.RoomNew
  .RoomNew__header
    .RoomNew__header__title
      お部屋登録フォーム
  .RoomNew__main
    = form_with model: @room, url:rooms_path, local: true do |f|
    
      .RoomNew__main__contents
        .RoomNew__main__contents__top
          .RoomNewForm
            .RoomNewForm__title
              = f.label :home_type, class: "RoomNewForm__label"
              %span.RoomNewForm__require 必須
            .RoomNewForm__main
              = f.select :home_type, [["住宅", "住宅"], ["アパート", "アパート"], ["ホテル", "ホテル"]], include_blank: "選択して下さい"
              - if @room.errors.include?(:home_type)
                %p.RoomNewForm_error-message= @room.errors.full_messages_for(:home_type).first

          .RoomNewForm
            .RoomNewForm__title
              = f.label :room_type, class: "RoomNewForm__label"
              %span.RoomNewForm__require 必須
            .RoomNewForm__main
              = f.select :room_type, [["個室", "個室"], ["シェアルーム", "シェアルーム"], ["貸し切り", "貸し切り"]], include_blank: "選択して下さい"
              - if @room.errors.include?(:room_type)
                %p.RoomNewForm_error-message= @room.errors.full_messages_for(:room_type).first

          .RoomNewForm
            .RoomNewForm__title
              = f.label :member, class: "RoomNewForm__label"
              %span.RoomNewForm__require 必須
            .RoomNewForm__main
              = f.select :member, [["1名", 1], ["2名", 2], ["3名", 3], ["4名以上", 4]], include_blank: "選択して下さい"
              - if @room.errors.include?(:member)
                %p.RoomNewForm_error-message= @room.errors.full_messages_for(:member).first

          .RoomNewForm
            .RoomNewForm__title
              = f.label :bed, class: "RoomNewForm__label"
              %span.RoomNewForm__require 必須
            .RoomNewForm__main
              = f.select :bed, [["1つ", 1], ["2つ", 2], ["3つ", 3], ["4つ以上", 4]], include_blank: "選択して下さい"
              - if @room.errors.include?(:bed)
                %p.RoomNewForm_error-message= @room.errors.full_messages_for(:bed).first

          .RoomNewForm
            .RoomNewForm__title
              = f.label :bath, class: "RoomNewForm__label"
              %span.RoomNewForm__require 必須
            .RoomNewForm__main
              = f.select :bath, [["1つ", 1], ["2つ", 2], ["3つ", 3], ["4つ以上", 4]], include_blank: "選択して下さい"
              - if @room.errors.include?(:bath)
                %p.RoomNewForm_error-message= @room.errors.full_messages_for(:bath).first

          .RoomNewForm
            .RoomNewForm__title
              = f.label :price, class: "RoomNewForm__label"
              %span.RoomNewForm__require 必須
            .RoomNewForm__main
              %span ¥
              = f.text_field :price, :placeholder => "例) 20000", class: 'RoomNewForm__input'
              - if @room.errors.include?(:price)
                %p.RoomNewForm_error-message= @room.errors.full_messages_for(:price).first
        
        .RoomNew__main__contents__bottom
          .RoomNewForm
            .RoomNewForm__title
              = f.label :name, class: "RoomNewForm__label"
              %span.RoomNewForm__require 必須
            .RoomNewForm__main
              = f.text_field :name, :placeholder => "40文字まで", class: 'RoomNewForm__input'
              - if @room.errors.include?(:name)
                %p.RoomNewForm_error-message= @room.errors.full_messages_for(:name).first
          
          .RoomNewForm
            .RoomNewForm__title
              = f.label :introduction, class: "RoomNewForm__label"
              %span.RoomNewForm__require 必須
            .RoomNewForm__main
              = f.text_area :introduction, :placeholder => "1000文字まで", class: 'RoomNewForm__input'
              - if @room.errors.include?(:introduction)
                %p.RoomNewForm_error-message= @room.errors.full_messages_for(:introduction).first
          
          .RoomNewForm
            .RoomNewForm__title
              = f.label :location, class: "RoomNewForm__label"
              %span.RoomNewForm__require 必須
            .RoomNewForm__main
              = f.text_field :location, :placeholder => "例) ◯◯県◯◯市◯◯町1-1-1", class: 'RoomNewForm__input'
              - if @room.errors.include?(:location)
                %p.RoomNewForm_error-message= @room.errors.full_messages_for(:location).first
        
        .RoomNewForm__btn
          = f.submit class: 'Btn-form'
